In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("BOQ.csv")

In [3]:
data.head(5)
data.shape

(1372, 5)

In [4]:
data.isnull().sum()

Variant     0
Darkness    0
Athen       0
Entry       0
Class       0
dtype: int64

In [5]:
data_clean = data.dropna()
data_clean.describe()

           Variant     Darkness        Athen        Entry        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433756     1.922831     1.397120    -1.192161     0.446793
std       2.842838     5.869810     4.311207     2.100995     0.501723
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.622630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     3.000000

In [6]:
print(data_clean.shape)

(1372, 5)

In [7]:
data_clean.isnull().sum()

Variant     0
Darkness    0
Athen       0
Entry       0
Class       0
dtype: int64

In [8]:
num_of_numerical_cols = data_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = data_clean._get_numeric_data().columns
print(name_of_numerical_cols)

5 numerical columns
Index(['Variant', 'Darkness', 'Athen', 'Entry', 'Class'], dtype='object')